* {
  box-sizing: border-box;
}
boby{
  margin: 0;
  padding: 0;
  
}
.wrapper{
  background-color: rgb(178, 163, 231);
  margin: auto;
  max-width: 400px;
  text-align: center;
}
.user-form{
  display: flex;
  direction: column;
  flex-wrap: wrap;
  padding: 10px;
}
.footer-text{
  text-align: center;
}